#include "resource.h"

#include "Ccx.h"
#include "windows.h"


// English US Language
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(65001)    // Unicode


// Magic number - Required
KPX_MAGICNUMBER RCDATA 
BEGIN
    0x2516, 0x5908
END


#ifdef EDITTIME


// Icon and Editor icon
EXO_ICON    BITMAP "..\\res\\exticon.bmp"
EXO_IMAGE   BITMAP "..\\res\\extimg.bmp"


// ACE Menus

// Actions
MN_ACTIONS MENU
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "Action example", IDMN_ACTION
    END
END

// Conditions
MN_CONDITIONS MENU
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "Condition example (three parameters)", IDMN_CONDITION
    END
END

// Expressions
MN_EXPRESSIONS MENU
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "Function example (three parameters)", IDMN_EXPRESSION
        MENUITEM "Return String example (one parameter)", IDMN_EXPRESSION2
        MENUITEM "Return Float example (one parameter)", IDMN_EXPRESSION3
    END
END



// Strings

STRINGTABLE
BEGIN
    // Actions
    M_ACTION        "00Action example"

    // Conditions
    M_CONDITION     "Condition example: %0 + %1 = %2"
    M_CND_P1        "Enter First Value"
    M_CND_P2        "Enter Second Value"
    M_CND_P3        "Enter Value to Match"

    // Expressions
    M_EXPRESSION    "Function("
    M_EXPRESSION2   "Reverse$("
    M_EXPRESSION3   "DivFloatByTwo("
END


STRINGTABLE
BEGIN
    KPX_MARK        "MF2"              // Required
    KPX_NAME        "My New Extension" // Extension name
    
    IDST_OBJNAME    "My New Extension" // Extension name (again)
    IDST_AUTHOR     "The extension's author"
    IDST_COPYRIGHT  "Copyright © 2022 Extension Author"
    IDST_COMMENT    "Quick description displayed in the Insert Object dialog box and in the object's About properties."
    IDST_HTTP       "https://example.com"
END

#endif
